body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

body > .container {
  padding-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: -20px;
}

.dupplicate-item {
  display: none;
}

.select2-results__option[aria-selected=true] {
  display: none;
}
